@model List<Position>

@foreach (var item in Model)
{
    if (item.Id == ViewBag.SelectedPosition)
    {
        <option value="@item.Id" selected>@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }
}

