@model Campaign
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Campaign</h4>
                    <p class="card-description">Please change</p>
                    <form class="forms-sample" method="post"> @*!!!*@
                        <div class="form-group">
                            <input class="form-control" id="exampleInputUsername1" placeholder="name" asp-for="Name" value="@Model.Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <input class="form-control" id="exampleInputUsername1" placeholder="discount %" asp-for="Discount" value="@Model.Discount">
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <a class="btn btn-light" asp-action="Index">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationPartial" />
}