@model SliderImage
@{
    ViewData["Title"] = "Update";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Slider Images</h4>
                    <img src="~/img/@Model.Name" style="width: 150px; height: 150px;" class="img-fluid selected-img" />
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        @*!!!*@
                        <div class="form-group">
                            <input class="form-control file-upload-for-photos" placeholder="image" asp-for="Photos" accept="image/*">
                            <span asp-validation-for="Photos" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <a class="btn btn-light" asp-action="Index">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<partial name="_ValidationPartial" />

<script>
    //upload image edende upload olunmush shekili gormek ucunx
    document.querySelector('.file-upload-for-photos').addEventListener("change", function (e) {
          const { files } = e.target;
          for (const file of files) {
              let fileReader = new FileReader();
              fileReader.onloadend = function (e) {
                  let profilePics = e.target.result;
                 document.querySelector('.selected-img').setAttribute("src", profilePics);
              };
              fileReader.readAsDataURL(file);
          }
      })
</script>

}